.products {
  margin-top: 40px;
  font-weight: 800;
}

.cart {
  margin-top: 30px;
}

.cart img {
  width: 30px;
}

.items p {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

.nav-bar li:nth-child(1) {
  margin-top: 10px;
}
/* -----------Style Button-------------------------------------------*/
.product button {
  transform: translateY(-80px);
  margin-left: 30%;
  display: none;
  border: 1px solid black;
  text-align: center;
  color: black;
  height: 30px;
  background-color: white;
  position: relative;
  box-shadow: 2px 2px 2px black;
}

.product:hover > button {
  display: block;
}


.styled {
  border: 0;
  /*line-height: 2.5;*/
  padding: 0 20px;
  /*font-size: 1rem;
  text-align: center;*/
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
  background-color: black;
  color: white;
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}



